[Desktop Entry]
Encoding=UTF-8
Name=Link to 10.png
Type=Link
URL=https://ec2-54-183-78-58.us-west-1.compute.amazonaws.com:8888/files/Notebooks/10.png
Icon=text-html
